@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    text-align: center; 
}

header {
    text-align: center; 
}

header h1 {
    font-family: 'New Rocker', cursive; 
    color: #ff0000;
}


.verse, .chorus {
    margin-bottom: 20px;
    text-align: center; 
}

.verse p {
    font-size: 18px;
}

.chorus p {
    font-size: 20px;
    font-weight: bold;
    color: #ff4500;
}
